/* Google Font Link - Titillium Web */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  display: block;
  content: "";
  height: 70px;
}
